<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title></title>
</head>
<body>

    <nav class="shadow-lg">
        <div class="flex flex-wrap justify-between ml-5 items-center mx-auto px-4 py-2.5">
            <a class="flex items-center" href="">
                <img src="https://cdn4.iconfinder.com/data/icons/plastic-iconshock/256/Shopping_cart.png" class="h-14">
                <span class="self-center text-xl font-bold ml-3">Marketplace Aggregator</span>
            </a>
            <div class="flex items-center">
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">Dashboard</a>
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">Sales</a>
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">Orders</a>
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">Create Products</a>
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">My Pruchases</a>
                <a href="" class="mr-6 text-sm text-gray-600 font-medium">Logout</a>
            </div>
        </div>
    </nav>

    {% block body %}

    {%  endblock %}
    
</body>
</html>