{% extends 'mkpa_app/base.html' %}

{% block body %}

<h1>Welcome</h1></br>

<div class="product-container flex">
    {% for product in products %}   
        <div class="product shadow-lg rounded-lg m-10 w-1/4">
            <div class="product-img p-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" alt="">
            </div>
            <div class="p-5 ml-3">
                <div class="font-bold">
                    {{ product.name }}
                </div>
                <div class="">
                    {{ product.description }}
                </div>
                <div class="font-bold text-green-800">
                    ₹{{ product.price }}
                </div>
                <div class="mt-4">
                    <a href="" class="bg-green-800 text-white px-4 py-2">View Details</a>
                </div>
                
            </div>
        </div>
    {% endfor %}
</div>



{%  endblock %}


    
    